<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INSearchForMediaIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Βρες τους Daft Punk στο Minidisc</string>
				<string>Βρες τη λίστα αναπαραγωγής Discover Weekly στο Minidisc</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INPlayMediaIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Παίξε μουσική στο Minidisc</string>
				<string>Παίξε τη λίστα αναπαραγωγής Discover Weekly στο Minidisc</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
